.btn-close {
    background-color: white !important;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: white !important;
    color: black !important;
}

.nav-link {
    background-color: rgb(33, 37, 41) !important;
    color: white !important;
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: white !important;
}

.nav-link:hover, .nav-link.active:hover {
    background-color: white !important;
    color: black !important;
}

.nav-tabs .nav-link {
    margin-bottom: unset !important;
}